<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleConnexion.css">
    <title>Se connecter</title>
</head>
<body style="font-family: Poppins, sans-serif; height: 100vh;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Icon -->
            <div>
                <img src="../images/daret.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->
            <form th:action="@{/traiter_connexion}" method="post">
                <div class="alert alert-danger" th:if="${param.error}">Invalid username or password. Please try again.</div>
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
                <input type="password" id="mot_de_passe" class="fadeIn third" name="mot_de_passe" placeholder="mot de passe">
                <div>
                    <input type="submit" class="fadeIn fourth" value="se connecter">
                    <a href="register" class="underlineHover" id="crr" style="margin-bottom: 5%; display: block; width: fit-content; margin: auto;">Créer un compte</a>
                </div>
            </form>
            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Mot de passe oublié</a>
            </div>
        </div>
    </div>
</body>
</html>
